# dependências (voltam com npm install)
node_modules/

# build gerado
dist/
.vite/

# sistema e editor
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# logs
npm-debug.log*
yarn-error.log*
*.log

# variáveis de ambiente
.env
.env.local
.env.*.local
